body {
	background:url('../images/dust_scratches/dust_scratches.png');
}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: grey;
	border-top: solid;
	border-width: 3px;
	margin-top: 10px;
}

.bio-pic {
	width: 50%;
	align-self: center;
}